/** COLOR PALETTE:
  *
  * Background: #F5F5F5 (GREY 100)
  * Primary Text: black
  * Primary color: #3F51B5 (INDIGO)
  * Primary color_text : white
  * Accent color: #CDDC39 (LIME)
  * Accent color_text: black
  */

/* #4 #sweat #external css file */

/* GLOBAL */

/* #4 #global styles*/


* {
    /* #4 use #roboto #font*/
    font-family: Roboto, 'Arial', sans-serif;

    /* #4 #sweat take care of #spacing between various elements */
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

/* #4 # sweat #uppercase buttons and w3w locations */
button, strong {
    text-transform: uppercase;
}

/* split - view */

#channels {
    /* left aligned */
    position: absolute;
    height: 100%;
    width: 40%;

    background-color: #3F51B5;
}

#chat {
    /*#right align */
    position: absolute;
    height: 100%;
    width: 60%;
    left: 40%;
}

#messages {
    /* messages are wrapped in a div for scrolling only on the left side*/
    position: absolute;
    width: 100%;
    top: 64px;
    bottom: 72px;
    overflow-y: auto;
}



/* APP BAR */

/* #4 #sweat address both #app-bar s */
h1 {
    background-color: #3F51B5;
    color: white;

    /* #5 #app-bar #general settings for both bars */
    height: 64px;
    font-size: 20px;
    font-weight: 500;

    /* #5 #app-bar spacing */
    box-sizing: border-box;
    padding: 24px 16px 20px 16px;

    /* #5 MOOCUS image alignment */
    position: relative; /* we need this, so that the image's absolute position is relative to the app bar */
}

h1#left-app-bar {
    /* #5 LEFT-APP-BAR spacing */
    padding-left: 72px;
}

h1#left-app-bar img {
    /*image bottom-align */
    position: absolute;
    left: 16px;
    bottom: 0;
}

h1 a {
    /* link color in app bar*/
    color: white;
}

h1 #channel-star {
    /* filled star  */
    position:absolute;
    right: 16px;
}

/* CHANNELS LIST */
/* #4 #sweat #channels */
ul {
    list-style-type: none;
    background-color: white;

    /* #5 position #channels list and let it #scroll */
    position: absolute;
    width: 100%;
    top: 64px; /* the app bar's height */
    bottom: 72px; /* the tab bar's height */
    overflow-y: auto; /* this adds scroll bars on demand */
}

li {
    box-sizing: border-box;
    height: 48px;
    padding: 16px;
    font-size: 16px;
    border-bottom: 1px solid #F5F5F5;
    position: relative;
}

li .channel-meta {
    position: absolute;
    right: 16px;
    top: 12px;
}

li img {
    vertical-align: middle;
}

li.selected {
    color: #3F51B5;
    border-left: 4px solid #3F51B5;
}

/* TAB BAR */

/* #4 #sweat #tab-bar */
#tab-bar, #chat-bar {
    background-color: white;
    text-align: center;

    /* #5 #tab-bar #bottom */
    position: absolute;
    bottom: 0;
    width: 100%;

    /* #5 #tab-bar #flexify the buttons*/
    display: flex;
}

/* #4 #sweat #tab-bar */
#tab-bar button, #chat-bar button {
    background-color: white;
    border: none;
    font-size: 13px;
    width: 33%;
    height: 72px;
    padding: 16px;

    flex-grow: 1;
}

#tab-bar button.selected {
    color: #3F51B5;
    border-bottom: 4px solid #3F51B5;
}

#tab-bar button img {
    display: block;
    margin: 0 auto 4px auto;
}

/* #5 CHAT BAR */

#chat-bar button {

    width: auto;
    flex-grow: 0;
}

#emojis {
    /* colors and borders */
    background-color:white;
    border: 1px solid black;
    position: absolute;
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    left: 16px;
    top: -284px;
    padding: 16px;
    text-align: left;
    font-size: 28px;
    overflow-y: auto;
    display: none;
}

/* MESSAGES */

.message {
    width: 80%;
    margin-bottom: 8px;
    margin-left: 2.5%;
    position: relative;
}

.message h3 {
    font-size: medium;/
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.message h3 a {
    /* What3words link is primary test */
    color: black;
    width: 30%;
}

.message h3 em {
    /* Larger text, non-italic*/
    font-size: larger;
    font-style: normal;
    width: 20%;
    text-align: right;
}

.message p {
    background-color: white;
    padding: 16px;
}

.message button {
    /* +5 min. button*/
    background-color: #CDDC39;
    color: black;
    text-transform: uppercase;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.message.own {
    margin-left: 17.5%;
}
